<a href="https://colab.research.google.com/github/harshvgangawane/PWSA4/blob/main/MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
!pip install -q pymongo

In [36]:
import pandas as pd
from pymongo import MongoClient

Write a Python script to load the Superstore dataset from a CSV file into MongoDB

In [37]:
file='/content/sample_data/superstore.csv'

In [38]:
data=pd.read_csv(file,encoding='latin1')

In [39]:
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

Retrieve and print all documents from the Orders collection

In [40]:
connection_url='mongodb+srv://harshvgangawane0502:<db_password>@cluster0.i44am.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

In [41]:
client=MongoClient(connection_url)

In [42]:
db=client['Superstore']
collection=db['Orders']

In [43]:
document = collection.find()

In [45]:
for doc in document:
  doc

Count and display the total number of documents in the Orders collection

In [47]:

connection_url = 'mongodb+srv://harshvgangawane0502:harsh2004@cluster0.i44am.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

client = MongoClient(connection_url)
db = client['Superstore']
collection = db['Orders']


total_documents = collection.count_documents({})
print(f"Total number of documents in the Orders collection: {total_documents}")

Total number of documents in the Orders collection: 0

Write a query to fetch all orders from the "West" region?

In [48]:
west_region_orders = collection.find({"Region": "West"})
for orders in west_region_orders:
  orders

Write a query to find orders where Sales is greater than 500?

In [49]:
sales_order=collection.find({"Sales":{"$gt":500}})
for order in sales_order:
  order

Fetch the top 3 orders with the highest Profit?

In [51]:
top3=collection.find().sort("Profit",-1).limit(3)
for order in top3:
  order

Update all orders with Ship Mode as "First Class" to "Premium Class?

In [52]:
update_result = collection.update_many({"Ship Mode": "First Class"}, {"$set": {"Ship Mode": "Premium Class"}})

In [53]:
print(f"Number of documents updated: {update_result.modified_count}")

Number of documents updated: 0

Delete all orders where Sales is less than 50

In [54]:
collection.delete_many({'Sales': {'$lt': 50}})

DeleteResult({'n': 0, 'electionId': ObjectId('7fffffff00000000000002ac'), 'opTime': {'ts': Timestamp(1738480859, 16), 't': 684}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1738480859, 16), 'signature': {'hash': b'-\xf0|D*q4g\x85\xae\xddk\xf5\xd0\xc6\x0b\x88\t\x15%', 'keyId': 7420478283642306585}}, 'operationTime': Timestamp(1738480859, 16)}, acknowledged=True)

Use aggregation to group orders by Region and calculate total sales per region

In [55]:
pipeline = [
    {"$group": {"_id": "$Region", "TotalSales": {"$sum": "$Sales"}}}
]

result = collection.aggregate(pipeline)

for region_sales in result:
  region_sales

Fetch all distinct values for Ship Mode from the collection

In [57]:
distinct_ship_modes = collection.distinct("Ship Mode")
for ship_mode in distinct_ship_modes:
  ship_mode

Count the number of orders for each category.

In [58]:
pipeline = [
    {"$group": {"_id": "$Category", "OrderCount": {"$sum": 1}}},
]

result = collection.aggregate(pipeline)

for category_order_count in result:
  category_order_count